.blocksty {
  width: 200px;
  height: 300px;
  cursor: pointer;
}

.imgsty {
  width: 200px;
  height: 250px;
}

.pricesty {
  font-family: 'Fredoka One';
}
.btnsty {
  font-family: 'Audiowide';
  font-size:17px;
  font-weight:bold;
}
