.btnsizes {
  width: 400px;
  color: black;
  font-size: 17px;
  font-family: 'Patua One';
}

.loginlinksty {
  color: #fff !important;
  font-size: 15px;
}

.hdsty {
  font-size: 70px;
  font-family: 'Abril Fatface';
  color: #ff33bb;
}

.subhdsty {
  color: white;
  font-size: 14px;
  font-family: 'Lobster', cursive;
}
